* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: #292929;
  text-align: center;
  & h1 {
    color: #fff;
    font-family: "Cardo", serif;
  }
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > section {
    min-height: 377px;
  }
}

footer {
  width: 100%;
  min-height: 8rem;
  background-color: #292929;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  width: 100%;
  min-height: 377px;
  background: url("../imgs/background-2.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  /* transition: all 5s ease-out; */

  & h2 {
    width: max-content;
    background-color: #272434bc;
    backdrop-filter: blur(10px);

    font-weight: 400;
    font-size: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
  }
  & p {
    width: max-content;
    background-color: #2724345c;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

.section-2 {
  display: flex;
  max-width: 768px;
  padding: 1rem;
  transition: all 2s ease-out;

  img {
    width: 50%;
    object-fit: contain;
  }

  & > div {
    max-width: 676px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    & h2 {
      font-size: 1.8rem;
      font-weight: 400;
    }

    & p {
      font-size: 1.15rem;
      font-weight: 400;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

@media (max-width: 768px) {
  .section-2 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & img {
      width: 100%;
    }
  }
}

.section-3 {
  width: 100%;
  padding: 2rem 0;
  background: linear-gradient(
      170deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    ),
    linear-gradient(
        45deg,
        rgba(20, 24, 31, 0.8) 0%,
        rgba(41, 48, 61, 0.8) 50%,
        rgba(82, 95, 122, 0.8) 50%,
        rgba(133, 146, 173, 0.8) 100%
      )
      #313949;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  text-align: center;
}

.row {
  width: 100%;
  max-width: 768px;
  display: flex;
  gap: 1rem;
}
.column {
  float: left;
  width: 33.3%;
  padding: 0 0px;
}

@media screen and (max-width: 600px) {
  .row {
    max-width: none;
    flex-direction: column;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }
}

.section-4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;

  & input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  & button {
    padding: 10px;
    background: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 20px;
      margin-right: 10px;
    }
  }
  
  & button:hover {
    background: #2c3e50;
  }
}


